@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.hello {
  width: 200px;  /* Set a fixed width for the image */
  height: 200px;  /* Set a fixed height for the image */
  margin: auto;  /* Center the image horizontally */
  border-radius: 50%;  /* Make the image circular */
  margin-top: 65px; 
}


.copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
